* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

div {
    display: flex;
    justify-content: space-between;
}

.mobile {
    display: none;
}

.desktop {
    margin: 0;
    width: 100%;
}

.noPieceHere {
    background-color: #F0D2B4;
}

td {
    text-align: center;
    background-color: #BA7A3A;
    width: 30px;
    height: 30px;
}

.red-turn-text {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
}

.black-turn-text {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
}

.red-hole {
    width: 10px;
    height: 10px;
    padding: 6px;
    background-color: red;
    border: 1px solid white;
    border-radius: 25px;
}
.black-hole {
    width: 10px;
    height: 10px;
    padding: 6px;
    background-color: black;
    border: 1px solid white;
    border-radius: 25px;
}

.yellow-hole {
    width: 10px;
    height: 10px;
    padding: 6px;
    background-color: yellow;
    border: 1px solid white;
    border-radius: 25px;
}

.green-hole {
    width: 10px;
    height: 10px;
    padding: 6px;
    background-color: green;
    border: 1px solid white;
    border-radius: 25px;
}

.white-hole {
    width: 10px;
    height: 10px;
    padding: 6px;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
}

.blue-hole {
    width: 10px;
    height: 10px;
    padding: 6px;
    background-color: blue;
    border: 1px solid white;
    border-radius: 25px;
}

p {
    display: inline-block;
}

#divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

span {
    display: inline-block;
}

@media screen and (max-width: 560px) {
    .red-hole {
        height: 4.5vw;
        width: 4.5vw;
    }

    .black-hole {
        height: 4.5vw;
        width: 4.5vw;
    }

    .yellow-hole {
        height: 4.5vw;
        width: 4.5vw;
    }

    .green-hole {
        height: 4.5vw;
        width: 4.5vw;
    }

    .white-hole {
        height: 4.5vw;
        width: 4.5vw;
    }

    .blue-hole {
        height: 4.5vw;
        width: 4.5vw;
    }

    td {
        width: 12vw;
        height: 12vw;
    }

    .red-turn-text {
        font-size: 40px;
    }
    
    .black-turn-text {
        font-size: 40px;
    }

    table {
        margin: 0;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .red-turn-text {
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);    
    }
}

@media screen and (max-width: 380px) {
    .red-piece {
        height: 3vw;
        width: 3vw;
    }

    .black-piece {
        height: 3vw;
        width: 3vw;
    }
}

@media screen and (max-width: 345px) {
    .red-piece {
        height: 2.5vw;
        width: 2.5vw;
    }

    .black-piece {
        height: 2.5vw;
        width: 2.5vw;
    }
}

@media screen and (max-width: 300px) {
    .red-piece {
        height: 1.5vw;
        width: 1.5vw;
    }

    .black-piece {
        height: 1.5vw;
        width: 1.5vw;
    }

    .red-turn-text {
        font-size: 35px;
    }
    
    .black-turn-text {
        font-size: 35px;
    }
}